$li-font-color: #B2C0CC;
$separator-color: #44576C;

// 버튼 색깔. 대체로 강조하는 표시는 다 이 색을 씀.
$blue-color: #0078FF;
// 살짝 약한 하얀색.
$sub-white-color: #E9ECF3;
$border-gray-color: #D7E2EB;
$program-gray-color: #5F7F90;

//job__cards에서 사용한 회색
$job-gray-color: #98a8b9;