@import "./_color.scss";
@import "./_size.scss";
/*
    ! component를 위한 mixin
    ! component의 경우 차별화를 위해 _를 앞에 붙이기로 했습니다.
*/ 

@mixin _button($isBanner) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: $blue-color;
    padding: 0.5rem 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    border-radius: 5px;
    @if ($isBanner == false) {
        width: 13.25rem;
        font-size: $font-l;
        font-weight: 600;
    }
}

@mixin _setMarginAuto() {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

@mixin _setMoreBtn() {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: -1px;
    border-radius: 5px;

    color: $blue-color;
    padding: 0.375rem 0.875rem;
    margin-left: 1.5rem;
    border: 1px solid $blue-color;
    background: transparent;
}

@mixin _setLineItem($num, $width, $color) {
    &__item:nth-child(#{$num}) {
        width: $width;
        height: 0.25rem;
        background-color: $color;
        margin-right: 0.5rem;
    }
    &__item:last-child {
        margin-right: 0;
    }
}