/********************************************************
    ! font
    * font-size에 관한 변수명 설정
********************************************************/ 
$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-s: 14px;
$font-ms: 12px;

/*
    font-weight
*/ 
$fw-bold: 700;
$fw-default: 400;