@import "./_mediaQuery.scss";
@import "./_size.scss";
@import "./_color.scss";
@import "./_mixin.scss";

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0;
}

button {
    border: none;
    outline: none;
    background: transparent;
    &:hover {
        cursor: pointer;
    }
}

.nav__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    // height: 3rem;
    padding: 0.125rem 1rem;
    overflow: hidden;
    .nav__home {
        .nav__logo {
            // aspect-ratio: 5 / 1;
            height: 2rem;
            padding-top: 5px;
        }
        .nav__mobile-logo {
            display: none;
        }
    }
    .nav__links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        // justify-content: center;
    }
    .nav__menu-links,
    .nav__auth-links {
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        .nav__separator {
            width: 1px;
            height: 0.8rem;
            background-color: $separator-color;
            margin: 0.5rem 0.5rem;
        }
    }
    .menu-links__item,
    .auth-links__item {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: $font-m;
        a {
            letter-spacing: -0.2px;
            color: $li-font-color;
            font-weight: $fw-bold;
            padding: 0.25rem 0.5rem;
        }
    }
    .nav__btn {
        display: none;
        .fa-bars {
            font-size: 1.5rem;
            color: white;
        }
    }
    @include customMedia("tablet") {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 0.75rem;
        height: 3rem;
        transition: all 0.3s;
        &.active {
            height: 430px;
        }
        .nav__home {
            .nav__logo {
                display: none;
            }
            .nav__mobile-logo {
                display: block;
                aspect-ratio: 1 / 1;
                height: 24px;
            }
        }
        .nav__links {
            margin-top: 1rem;
            flex-direction: column;
            width: 100%;
            .nav__menu-links,
            .nav__auth-links {
                padding: 0;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                .nav__separator {
                    display: none;
                }
                .nav__menu-links__item,
                .nav__auth-links__item {
                    padding: 0.25rem 0;
                    font-size: $font-s;
                }
            }
            .nav__auth-links {
                margin-top: 2rem;
                border-top: 1px solid $separator-color;
            }
        }
        .nav__btn {
            display: block;
            position: absolute;
            right: 1rem;
            top: 0.75rem;
            .fa-bars {
                font-size: 1.5rem;
                color: white;
            }
        }
    }
}

.header {
    display: flex;
    background: black;
    justify-content: center;
    padding: 3.5rem 1rem 2.5rem 1rem;
    .header__copies {
        width: 600px;
        color: white;
        .header__main-copy,
        .header__sub-copy,
        .header__platform-info {
            margin: 0;
        }
        .header__platform-info {
            color: $blue-color;
            font-size: $font-s;
            font-weight: 400;
            padding-bottom: 1rem;
        }
        .header__main-copy {
            font-weight: 500;
            font-size: 2.5rem;
            padding-bottom: 2.5rem;
            line-height: 1.4;
        }
        .header__sub-copy {
            font-size: $font-xl;
            font-weight: 400;
            padding-bottom: 2rem;
            line-height: 1.65;
            color: $sub-white-color;
        }
        .header__main-copy > span,
        .header__sub-copy > span {
            display: block;
        }
    }
    .header__image {
        width: auto;
        max-height: 350px;
        max-width: 540px;
    }
    .header__sign-up-btn {
        @include _button($isBanner: false);
    }
    // ~991px;
    @include customMedia("tablet") {
        flex-direction: column;
        .header__copies {
            width: 100%;
            text-align: center;
            .header__main-copy > span {
                display: inline;
            }
        }
        .header__sign-up-btn {
            margin-bottom: 2rem;
        }
        .header__image-box {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .header__image {
            width: 100%;
        }
    }
    // 767px;
    @include customMedia("mobile-and-tablet") {
        padding : 2.5rem 1rem 2.5rem 1rem; 
        .header__copies {
            .header__main-copy > span {
                font-size: 2.375rem;
                display: block;
            }
            .header__sub-copy > span {
                font-size: $font-l;
            }
        }
    }
    // 575px;
    @include customMedia("mobile") {
        .header__copies {
            box-sizing: border-box;
            .header__main-copy {
                padding-bottom: 2rem;
                span {
                    font-size: 2.125rem;
                }
            }
        }        
    }
}